# Dependencies
node_modules

# Build
dist
dist-ssr

# Environment
*.local
.env
.env.*
.dev.vars

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
